* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #526f5c;
    color: #333;
}
.site-header {
    background-color: rgb(5, 53, 48);
    color: #fff;
    padding:  10px ;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  margin: auto;
    font-size: 1.5rem;
    text-decoration: none;
    color: orange;
    font-weight: bold;
    margin-left: 40px;
    padding: 5px;
    border: 20px;
  background-color:rgb(40, 62, 89);
  border-radius: 10px;

}
span{
  color: white;
  font-weight:400;
}
.nav a{
  text-decoration:none;
  margin-right: 50px;

  color: orange;
}
.container{
  text-align: center;
  margin-top: 50px;
}

.hero input[type="search"]  {
    padding: 12px 16px;
    font-size: 1rem;
    width: 300px;
    max-width: 100%;
    border: 1px solid #555050;
    border-radius: 8px;
}

.hero select[aria-label="Sort"]{
padding: 12px 16px;
font-size: 1rem;
max-width: 100%;
border:1px solid #555050;
border-radius: 8px;

}
.sizecar{
  width: 350px;
  height:250px;
  /* padding: 50px; */
border-radius: 12px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;              /* allow wrapping to next line */
    gap: 20px;                    /* space between cards */
    justify-content: center;      /* center them horizontally */
    padding: 20px;
}
.card{
  border:1px solid rgb(121, 167, 227);
  background-color: rgb(253, 253, 255);
  border-radius: 10px;
}
.about{

  background-color: #9dd260;
  margin: 100px 100px;
  padding: 10px 20px;
  border-radius:10px;
  width: 100px 100px;
  
}

footer{
  background-color: #68b64c;
  /* padding:; */
}

