/* Defines variables for the colours used here. */
:root{
	--bgColor:#526f5c;
	--blockColor:#053530;
}

/* Turns all text white. */
*{
	color: #fff;
	font-family: "Ubuntu Sans", sans-serif;
}

/* Adds responsiveness to grid layout in index */
/*START MEDIA QUERIES*/
@media only screen and (max-width:600px) {
	.gallery{
		grid-template-columns: auto;
	}
	.navLinks{
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}
	.burger{
		all:unset;
	}
	.homeLink{
		margin-left: 10px;
	}
	.underBurger{
		display: none;
		margin-top: 4px;
		background-color:var(--bgColor);
		padding: 10px;
		border-radius: 5px;
		text-decoration: none;
	}
}

@media only screen and (min-width:600px) {
	.gallery{
		grid-template-columns: auto;
	}
	.burger{
		display: none;
	}

	.navLinks{
		display: flex;
		flex-direction: row;
	}

	.homeLink{
		margin-left: 10px;
	}
}

@media only screen and (min-width:992px) {
	.gallery{
		grid-template-columns: auto auto;
	}
	.homeLink{
		margin-left: 40px;
	}
}

@media only screen and (min-width:1200px) {
	.gallery{
		grid-template-columns: auto auto auto;
	}
}
/*END MEDIA QUERIES*/

/* Remove border from body tag, as well as setting the background to be a gradient :o */
body{
	margin: 0;
	min-height: 100vh;
	background-color: var(--bgColor);
	background: linear-gradient(0deg, var(--blockColor) 0%, var(--bgColor) 15%);
	position: relative;
}

.wrapper{
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Confines main content to smaller box, and has a minimum height.  */
main{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 120px;
}

section{
	margin-bottom: 50px;
	text-align: justify;
}

/* Makes all elements with the inBox class have an orange background, as well as a bit of padding. */
.inBox{
	background-color: var(--blockColor);
	padding-top: 10px;
	padding-bottom: 5px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: left;
	width:auto;
	padding: 10px;
}

nav a {
	vertical-align: middle;
	font-size: 1rem;
	margin-left: 30px;
}

.burger{
	margin-left:auto;
	margin-right: 10px;
}

.homeLink {
	display: flex;
	flex-direction: row;
  font-size: 1.5rem;
  text-decoration: none;
  color: orange;
  font-weight: bold;
  padding: 5px;
  border: 20px;
  background-color:rgb(40, 62, 89);
  border-radius: 10px;
  word-wrap: none;
}

.homeLinkDecoration{
  color: white;
  font-size: 1.5rem;
  font-weight:400;
  margin:0;
  margin-left: 6px;
  word-wrap: none;
  overflow: hidden;
}

header {
	margin-bottom:30px;
}



/* Makes page title go to center. annoyingly nessecary. */
.pageTitleContainer{
	display: flex;
  align-items: center;
	justify-content: center;
}

.pageTitle {
	background-color: var(--blockColor);
	padding: 10px;
	border-radius: 5px;
	width: max-content;
}

/*INDEX ONLY*/
.container{
  text-align: center;
  margin-top: 50px;
}

.hero input[type="search"]  {
    padding: 12px 16px;
    font-size: 1rem;
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
}

.hero select[aria-label="Sort"]{
  padding: 12px 16px;
  font-size: 1rem;
  max-width: 100%;
  border-radius: 5px;
}

.sizecar{
  border-radius: 12px;
}

.gallery {
  display: grid;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  border: 5px solid #053530;
  transition: scale 0.5s ease 0s;
}

.card img{
  width: 80%;
  aspect-ratio: 3/2;
  border: 5px solid #053530;
}

.card:hover{
	scale: 1.025;
}

.card *{
  color: black;
}

.tag{
  display: inline-block;
  background: #ff6600;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}

.about{
  background-color: #27600B;
  margin: 100px 100px;
  padding: 10px 20px;
	border: 5px solid #053530;
	border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*END INDEX ONLY*/

form{
	text-align: center;
}

/* Changes background colour of form elements and removes their borders :P*/
input {
	background-color: white;
	border: 5px solid #053530;
	color: black;
	margin-bottom:5px;
	border-radius: 8px;
	padding: 4px;
}

input[type="submit"] {
	margin-left: 5px;
	padding: 8px;
	background-color: #a3ff86;
	font-size: 12pt;
	font-weight: bold;
}

input[type="reset"] {
	padding: 8px;
	background-color: #ff8585;
	font-size: 12pt;
	font-weight: bold;
}

/* Changes background colour of form elements and removes their borders :P */
select {
	background-color: white;
	color: black;
	margin-bottom:10px;
	border: 5px solid #053530;
	border-radius: 8px;
	padding: 4px;
}

footer {
	width: 100%;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
}

footer a{
	margin-left: 30px;
}




