/* Defines variables for the colours used here. */
:root{
	--bgColor:#526f5c;
	--blockColor:#053530;
}

/* Turns all text white. */
*{
	color: #fff;
	font-family: "Ubuntu Sans", sans-serif;
}

/* Remove border from body tag, as well as setting the background to be black-ish. */
body{
	margin: 0;
	background-color: var(--bgColor);
	background: linear-gradient(180deg,var(--bgColor) 85%, var(--blockColor) 100%);
}

/* Confines main content to smaller box, and has a minimum height.  */
main{
	width: 70%;
	margin: 0 auto;
	min-height: 360px;
}

section{
	margin-bottom: 50px;
	text-align: justify;
}

.homeLink {
	display: flex;
	flex-direction: row;
  font-size: 1.5rem;
  text-decoration: none;
  color: orange;
  font-weight: bold;
  margin-left: 40px;
  padding: 5px;
  border: 20px;
  background-color:rgb(40, 62, 89);
  border-radius: 10px;

}
.homeLinkDecoration{
  color: white;
  font-weight:400;
  margin:0;
  margin-left: 6px;
}



/* Makes all elements with the inBox class have an orange background, as well as a bit of padding. */
.inBox{
	background-color: var(--blockColor);
	padding-top: 10px;
	padding-bottom: 5px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: row;
	width:auto;
	padding: 10px;
}

nav * {
	vertical-align: middle;
	margin-left: 30px;
}

header {
	margin-bottom:30px;
}

/* Makes page title go to center. annoyingly nessecary. */
.pageTitleContainer{
	display: flex;
  align-items: center;
	justify-content: center;
}

.pageTitle {
	background-color: var(--blockColor);
	padding: 10px;
	border-radius: 5px;
	width: max-content;
}

/*INDEX ONLY*/
.site-header {
    background-color: rgb(5, 53, 48);
    color: #fff;
    padding:  10px ;
}

.card-body *{
  color: black;
}

.container{
  text-align: center;
  margin-top: 50px;
}

.hero input[type="search"]  {
    padding: 12px 16px;
    font-size: 1rem;
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
}

.hero select[aria-label="Sort"]{
  padding: 12px 16px;
  font-size: 1rem;
  max-width: 100%;
  border-radius: 8px;
}

.sizecar{
  border-radius: 12px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card{
  background-color: rgb(253, 253, 255);
  border-radius: 10px;
  width: 500px;
  height: 500px;
  border: 5px solid #053530;
}

.card img{
  width: 80%;
  height: 50%;
  margin: 20px;
}

.about{
  background-color: #6da230;
  margin: 100px 100px;
  padding: 10px 20px;
	border: 5px solid #053530;
	border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
/*END INDEX ONLY*/

form{
	text-align: center;
}

/* Changes background colour of form elements and removes their borders :P*/
input {
	background-color: white;
	border: 5px solid #053530;
	color: black;
	margin-bottom:5px;
	border-radius: 8px;
	padding: 4px;
}

/* Changes background colour of form elements and removes their borders :P */
select {
	background-color: white;
	color: black;
	margin-bottom:10px;
	border: 5px solid #053530;
	border-radius: 8px;
	padding: 4px;
}

footer {
	margin-top:80px;
}

footer a{
	margin-left: 30px;
}


